.previewImage {
  border: 2px solid rgba(192, 192, 192, 0.5) !important;
  border-radius: 4px;
  cursor: pointer;
  transform: 0.3s ease-out border;

  &:hover {
    border-color: rgba(192, 192, 192, 0.9) !important;
  }
}
