.slide_contianer {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide_text {
  color: #fafafa;
  font-size: 32px;
  filter: drop-shadow(2px 4px 8px #191919);
}

.bannerHeading {
  font-weight: bold;
  font-size: 72px;
  color: #c11f3a;
  font-style: italic;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 870px) {
  .slide_contianer {
    top: 30%;
  }
  .slide_text {
    font-size: 28px;
  }
}
@media (max-width: 570px) {
  .bannerHeading {
    font-size: 48px;
  }
  .slide_contianer {
    top: 15%;
  }
  .slide_text {
    font-size: 18px;
  }
}
