.dateInput {
  border: none;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 300px;
}

.pane {
  flex: 1 1 45%;
  margin: 0 10px;
  color: inherit;
}

.divider {
  flex: 1 1 100%;
  display: inline-block;
  padding: 1px;
  margin: 50px 0;
  background-color: #49494a9c;
}
