/* Chrome, Safari, Edge, Opera */
.generalStyles {
  width: 100%;
  margin: 0;
  outline: none;
  border: 2px solid transparent;
  background-color: transparent;
  text-align: center;
  color: inherit;
  transition: 0.3s ease-out;
}

.generalStyles:focus {
  border-color: rgba(99, 99, 99, 0.802);
}
