* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Almarai', sans-serif;
  color: #49494aff;
}

body {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.SEOHeading {
  width: 0;
  height: 0;
  position: absolute;
  left: -999999px;
  top: -999999999px;
}

/* --------------Remove Handlers from input type number----------------- */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'][type='number'] {
  -moz-appearance: textfield;
}

/* -------------------------------------------------------------------- */

/* --------------Custome Popup----------------- */
.searchOption-content {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 90% !important;
  left: 5% !important;
}

.searchOption-arrow {
  display: none !important;
}

.userActions-content {
  background-color: #fafafa;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------- */

/* --------------Custome Select----------------- */
.css-1pahdxg-control {
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
}

.sizeSelect {
  width: 200px !important;
  margin: 0 10px;
}
/* ----------------------------------------------- */

/* --------------Custome Scrollbar----------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 4px 6px 8px #75757585;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(83, 83, 84, 0.789);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb4361;
}

/* ------------------------------------------------------ */

/* --------------Carousel Styles Override----------------- */
.control-dots > .dot {
  transform: scale(1.6);
  opacity: 0.5 !important;
}

.control-dots > .dot:hover {
  opacity: 1 !important;
}

.control-dots > .dot.selected {
  background-color: #c11f3a !important;
  opacity: 1 !important;
}

.carousel-status {
  display: none !important;
}

.slide_text {
  color: #fafafa;
  font-size: 32px;
  filter: drop-shadow(2px 4px 8px #191919);
}

.slide_contianer {
  position: absolute;
  top: 35%;
  left: 10%;
}
/* -------------------------------- */

/* ---------------Burgermenu Icon----------------- */
.menuContainer:hover .iconBar {
  background-color: #c11f3a !important;
}
/* -------------------------------- */

/* ---------------Small Nav Styles----------------- */
.navCloseButton:hover {
  color: #999;
}

.linkTextContainer {
  position: relative;
  top: 10px;
}
/* -------------------------------- */

/* ---------------product list item----------------- */
.productListItem {
  font-size: 0.9em;
  margin-bottom: 15px;
  line-height: 1.5;
  word-spacing: 2.2px;
}

.productListItem > span {
  font-weight: bold;
}
/* ----------------------------------------------- */
.svgIcon {
  transition: 0.3s ease-out;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 40px 0;
}

.youtubeSVG:hover {
  fill: #c4302b;
}
.twitterSVG:hover {
  fill: #1da1f2;
}
.instagramSVG:hover {
  fill: #8a3ab9;
}
.facebookSVG:hover {
  fill: #3b5998;
}

li a {
  color: #fafafa;
  transition: 0.3s ease-out;
}

li a:hover {
  color: #3087c5ff;
}

.socialMediaParentContainer {
  flex: 0 1 50%;
  margin: 40px 0;
}

@media (max-width: 870px) {
  .slide_contianer {
    top: 30%;
  }
  .slide_text {
    font-size: 28px;
  }

  .footerList {
    order: 2;
    flex: 1 1 100%;
  }

  .socialMediaParentContainer {
    flex: 1 1 100%;
  }
}
