* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Almarai', sans-serif;
  color: #49494aff;
}

/* ------------------------------------------ */
/* --------------Themes Colors-------------- */
/* ------------------------------------------ */
:root {
  --davysGray: #49494a;
  --light: #fafafa;
  --secondaryLight: #f1f1f1;
  --cardinal: #c11f3a;
  --cardinalHover: #fb4361;
  --accentHover: #fb4361;
  --raisinBlack: #15151b;
  --onyx: #1b1b1f;
  --boxShadowVal: 5px 3px 11px 2px #4a4a4aab;
}

.light {
  background-color: var(--light);
  color: var(--davysGray);
}

.dark {
  background-color: var(--raisinBlack);
  color: var(--light);
}

.navbarLight {
  color: var(--davysGray);
}

.navbarDark {
  color: var(--light);
}

body {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.SEOHeading {
  width: 0;
  height: 0;
  position: absolute;
  left: -999999px;
  top: -999999999px;
}

/* ---------------------------------------------------------------------- */
/* --------------Remove Handlers from input type number----------------- */
/* ---------------------------------------------------------------------- */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'][type='number'] {
  -moz-appearance: textfield;
}

/* -------------------------------------------------------------------- */
/* ----------------------------Custome Popup--------------------------- */
/* -------------------------------------------------------------------- */
.searchOption-content {
  background-color: rgba(255, 255, 255, 0.9) !important;
  width: 90% !important;
  left: 5% !important;
}

.searchOption-arrow,
.userActions-arrow {
  display: none !important;
}

.userActions-content {
  background-color: rgb(253, 248, 248);
  box-shadow: 0px 2px 10px #96959585;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userActionsLinks {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--davysGray);
  transition: 0.3s color ease-out;
  outline: none;
}
.userActionsLinks:hover {
  color: var(--cardinal);
}
/* ------------------------------------------- */
/* --------------Custome Select----------------- */
/* ------------------------------------------- */
.css-1pahdxg-control {
  border-color: hsl(0, 0%, 80%) !important;
  box-shadow: none !important;
}

.sizeSelect {
  width: 200px !important;
  margin: 0 10px;
}

/* ----------------------------------------------- */
/* --------------Custome Scrollbar----------------- */
/* ----------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 4px 6px 8px #75757585;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(83, 83, 84, 0.789);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb4361;
}

/* ------------------------------------------------------ */
/* --------------Carousel Styles Override----------------- */
/* ------------------------------------------------------ */
.control-dots > .dot {
  transform: scale(1.6);
  opacity: 0.5 !important;
}

.control-dots > .dot:hover {
  opacity: 1 !important;
}

.control-dots > .dot.selected {
  background-color: #c11f3a !important;
  opacity: 1 !important;
}

.carousel-status {
  display: none !important;
}

.slide_text {
  color: #fafafa;
  font-size: 32px;
  filter: drop-shadow(2px 4px 8px #191919);
}

.slide_contianer {
  position: absolute;
  top: 35%;
  left: 10%;
}

/* small nav */
.menuContainer:hover .iconBar {
  background-color: #c11f3a !important;
}

/* ----------------------------------------------------- */
/* --------------Containers--------------- */
/* --------------------------------------------------- */
.gridContainer {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  width: 96%;
  color: inherit;
  margin: 50px auto;
}

/* ---------------product list item----------------- */
.productListItem {
  font-size: 0.9em;
  margin-bottom: 20px;
  line-height: 1.5;
  word-spacing: 2.2px;
  color: inherit;
}

.productListItem > span {
  color: inherit;
  font-weight: bold;
}
/* ----------------------------------------------- */
.svgIcon {
  transition: 0.3s ease-out;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 40px 0;
}

/* --------------------Footer Social Media Links-------------------- */
.youtubeSVG:hover {
  fill: #c4302b;
}
.twitterSVG:hover {
  fill: #1da1f2;
}
.instagramSVG:hover {
  fill: #8a3ab9;
}
.facebookSVG:hover {
  fill: #3b5998;
}
/* ----------------------------------------------------------------*/

li a {
  color: #fafafa;
  transition: 0.3s ease-out;
}

li a:hover {
  color: #3087c5ff;
}

.socialMediaParentContainer {
  flex: 0 1 50%;
  margin: 40px 0;
}

/* Shop & Blogs No Results Container */

@media (max-width: 870px) {
  .slide_contianer {
    top: 30%;
  }
  .slide_text {
    font-size: 28px;
  }

  .footerList {
    order: 2;
    flex: 1 1 100%;
  }

  .socialMediaParentContainer {
    flex: 1 1 100%;
  }
}

/* Blog Styles */
.blog.dark p,
.blog.dark h1,
.blog.dark h2,
.blog.dark h3,
.blog.dark h4,
.blog.dark li {
  color: #fafafa;
}

.blog.dark a {
  color: #fafafa;
  text-decoration: underline;
}
.blog a {
  color: #494949;
}

.blog.dark em,
.blog.dark strong {
  color: #fafafa;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4 {
  text-transform: capitalize;
  margin: 20px 0;
  color: #49494a;
}

.blog img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}

.blog p,
.blog li {
  letter-spacing: 0.5px;
  word-spacing: 2px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #49494a;
}

.blog ul {
  padding: 10px 0;
  margin-bottom: 15px;
}

.blog li {
  margin: 0 20px 10px;
}

.autoComplete-container {
  width: 100%;
  min-width: 270px;
  color: inherit;
  position: absolute;
  top: 39px;
}

.autoComplete-item {
  width: 100%;
  background-color: rgb(241 241 241 / 65%);
  color: inherit;
  padding: 10px;
  cursor: default;
  transition: background 0.2s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.autoComplete-item:hover {
  background-color: rgb(211 211 211 / 55%);
}

/* ------------------------------------------------- */
/* ------------------Toast Styles------------------ */
/* ----------------------------------------------- */
.toastWarning {
  background: rgba(255, 190, 70, 0.802) !important;
}
.toastSuccess {
  background: rgba(99, 253, 117, 0.802) !important;
}
